<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all">
  <!-- console appender -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss} %p %c{2}: %m%n"/>
    </layout>
  </appender>

  <!-- audit appender -->
  <appender name="audit" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${hadoop.log.dir}/audit.log"/>
    <param name="MaxBackupIndex" value="120"/>
    <param name="MaxFileSize" value="500MB"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- audit AsyncAppender -->
  <appender name="async_audit" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="4096"/>
    <appender-ref ref="audit"/>
  </appender>
 
  <!-- EventCounter appender -->
  <appender name="EventCounter" class="org.apache.hadoop.metrics.jvm.EventCounter">
  </appender>

  <!-- Daily Rolling File Appender -->
  <appender name="DRFA" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${hadoop.log.dir}/${hadoop.log.file}"/>
    <param name="DatePattern" value=".yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- jobhistory appender -->
  <appender name="jobhistory" class="org.apache.hadoop.util.YTAppender">
    <param name="BufferedIO" value="true"/>
    <param name="BufferSize" value="8192"/>
    <param name="DatePattern" value=".yyyy-MM-dd-HH-mm"/>
    <param name="File" value="${hadoop.log.dir}/newHistory/jobhistory.log"/>
    <layout class="org.apache.log4j.PatternLayout">
    </layout>
  </appender>

  <!-- nnstate appender -->
  <appender name="nnstate" class="org.apache.log4j.RollingFileAppender">
    <param name="BufferedIO" value="true"/>
    <param name="BufferSize" value="16384"/>
    <param name="MaxBackupIndex" value="30"/>
    <param name="MaxFileSize" value="500MB"/>
    <param name="File" value="${hadoop.log.dir}/stateChange.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- nnstate AsyncAppender -->
  <appender name="async_nnstate" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="4096"/>
    <appender-ref ref="nnstate"/>
  </appender>
 
    <!-- taskstate appender -->
  <appender name="taskstate" class="org.apache.log4j.RollingFileAppender">
    <param name="BufferedIO" value="true"/>
    <param name="BufferSize" value="16384"/>
    <param name="MaxBackupIndex" value="30"/>
    <param name="MaxFileSize" value="500MB"/>
    <param name="File" value="${hadoop.log.dir}/taskChange.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- rpc appender -->
  <appender name="rpc" class="org.apache.log4j.RollingFileAppender">
    <param name="BufferedIO" value="true"/>
    <param name="BufferSize" value="8192"/>
    <param name="MaxBackupIndex" value="30"/>
    <param name="MaxFileSize" value="500MB"/>
    <param name="File" value="${hadoop.log.dir}/RPC.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!--rpc  AsyncAppender -->
  <appender name="async_rpc" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="4096"/>
    <appender-ref ref="rpc"/>
  </appender>

  <!-- TaskLog appender -->
  <appender name="TLA" class="org.apache.hadoop.mapred.TaskLogAppender">
    <param name="taskId" value="${hadoop.tasklog.taskid}"/>
    <param name="totalLogFileSize" value="${hadoop.tasklog.totalLogFileSize}"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- Rolling File Appender -->
  <appender name="RFA" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${hadoop.log.dir}/${hadoop.log.file}"/>
    <param name="MaxFileSize" value="200MB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n"/>
    </layout>
  </appender>

  <!-- AsyncAppender -->
  <appender name="async" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="4096"/>
    <appender-ref ref="taskstate"/>
  </appender>
  
  <!-- FSNamesystem Audit logging -->
  <logger name="org.apache.hadoop.hdfs.server.namenode.FSNamesystem.audit" additivity="false">
    <level value="info"/>
    <appender-ref ref="audit"/>
  </logger>

  <!-- FSNamesystem StateChange logging -->
  <logger name="org.apache.hadoop.hdfs.StateChange" additivity="false">
    <level value="info"/>
    <appender-ref ref="async_nnstate"/>
  </logger>

  <!-- IPC logging -->
  <logger name="org.apache.hadoop.ipc" additivity="false">
    <level value="info"/>
    <appender-ref ref="async_rpc"/>
  </logger>

  <!-- JobHistory logging  -->
  <logger name="org.apache.hadoop.mapred.JobHistory.stream" additivity="false">
    <level value="info"/>
    <appender-ref ref="jobhistory"/>
  </logger>

  <!-- TaskChange logging  -->
  <logger name="org.apache.hadoop.mapred.TaskChange" additivity="false">
    <level value="info"/>
    <appender-ref ref="async"/>
  </logger>

  <!-- Jets3t library -->
  <logger name="org.jets3t.service.impl.rest.httpclient.RestS3Service">
    <level value="error"/>
  </logger>

  <!-- root logging configuration -->
  <root>
    <level value="${hadoop.root.logger.level}"/>
    <appender-ref ref="${hadoop.root.logger.appender}"/>
    <appender-ref ref="EventCounter"/>
  </root>

</log4j:configuration>
